
# data folder
/data/
/data_tokenized/
/src/loss_nli/data/__pycache__/

# model folder
/model/

# notebook folder
notebooks/

# build folder
build/

dist/

# wandb folder
/wandb/

#egg folder
/src/timeanddate_crawler.egg-info